@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Geometria", sans-serif;
  --third-family: "Montserrat", sans-serif;
  --content-width: 1170px;
  --container-offset: 2.4rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Geometria";
  src: url("../fonts/../fonts/Geometria-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/../fonts/Geometria-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Thin.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 0.5208333333vw;
}
@media (max-width: 1024px) {
  html {
    font-size: 2.7777777778vw;
  }
}

body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1024px) {
  * {
    -ms-overflow-style: unset;
    scrollbar-width: unset;
  }
  *::-webkit-scrollbar {
    display: unset;
  }
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .site-container {
    overflow: hidden;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      to(#dcecff)
    );
    background: linear-gradient(180deg, #fff 0%, #dcecff 100%);
  }
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding-left: 30.5rem;
  padding-right: 15rem;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 2.4rem;
  }
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

section {
  overflow-y: auto;
  height: 100%;
  background-color: #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
section::-webkit-scrollbar {
  display: none;
}

.row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.row-wrapper .h-nav {
  position: sticky;
  bottom: unset;
  top: 0;
  height: 100vh;
  width: 30.5rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.row-wrapper .sidebar {
  position: sticky;
  bottom: unset;
  top: 0;
  height: 100vh;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.site-slider {
  position: relative;
  height: 100vh;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}
.site-slider--eco {
  background: #f4f4f4;
}
@media (max-width: 1024px) {
  .site-slider--eco {
    padding-top: 2rem;
    padding-bottom: 7.5rem;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      to(#dcecff)
    );
    background: linear-gradient(180deg, #fff 0%, #dcecff 100%);
  }
}
.site-slider--eco section {
  background: none;
}
.site-slider--eco .site-screen section {
  background: #f4f4f4;
}
@media (max-width: 1024px) {
  .site-slider--eco .site-screen section {
    background: none;
  }
}
.site-slider--eco .site-screen--long {
  height: auto;
  overflow: visible;
}
.site-slider--eco .site-screen:nth-child(3) section {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f4f4f4),
    to(#d1e3f9)
  );
  background: linear-gradient(180deg, #f4f4f4 0%, #d1e3f9 100%);
}
@media (max-width: 1024px) {
  .site-slider--eco .site-screen:nth-child(3) section {
    background: none;
  }
}
.site-slider--eco .site-screen:nth-child(4) section {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#d2e3f9),
    to(#f4f4f4)
  );
  background: linear-gradient(180deg, #d2e3f9 0%, #f4f4f4 100%);
}
@media (max-width: 1024px) {
  .site-slider--eco .site-screen:nth-child(4) section {
    background: none;
  }
}
@media (max-width: 1024px) {
  .site-slider {
    height: auto;
  }
}
.site-slider .h-nav {
  position: absolute;
  z-index: 10;
  width: 30.5rem;
  left: 0;
  top: 0;
  height: 100%;
  border-right: 1px solid rgba(20, 20, 20, 0.25);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}
.site-slider .h-nav span {
  height: 100%;
  width: 3px;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: calc(100% - 1px);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: rLine 6s linear infinite;
  animation: rLine 6s linear infinite;
}
.site-slider .h-nav span::after {
  content: "";
  width: 0.3rem;
  height: 8rem;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 100%;
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#307fe2),
    to(#cadcf2)
  );
  background: linear-gradient(180deg, #307fe2 0%, #cadcf2 100%);
}
.site-slider .h-nav--nolist {
  border: none;
  width: auto;
  padding-left: 10.4rem;
}
.site-slider .h-nav--nolist span {
  display: none;
}
.site-slider aside {
  position: absolute;
  z-index: 10;
  width: 15rem;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid rgba(20, 20, 20, 0.25);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}
.site-slider.hide-control .header__nav {
  -webkit-transform: translate(-300%, -50%);
  -ms-transform: translate(-300%, -50%);
  transform: translate(-300%, -50%);
}
.site-slider.hide-control .testi-cont__right {
  opacity: 0;
}

.hide {
  display: none !important;
}

.site-wrapper,
.site-screen {
  height: 100%;
}
@media (max-width: 1024px) {
  .site-wrapper,
  .site-screen {
    height: auto;
  }
}

.site-wrapper {
  position: relative;
}

.site-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.69, 0.1, 0.21, 0.95);
  transition: -webkit-transform 0.7s cubic-bezier(0.69, 0.1, 0.21, 0.95);
  transition: transform 0.7s cubic-bezier(0.69, 0.1, 0.21, 0.95);
  transition: transform 0.7s cubic-bezier(0.69, 0.1, 0.21, 0.95),
    -webkit-transform 0.7s cubic-bezier(0.69, 0.1, 0.21, 0.95);
}
@media (max-width: 1024px) {
  .site-screen {
    position: static;
    height: auto;
  }
}
.site-screen:not(:first-child) {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
@media (max-width: 1024px) {
  .site-screen:not(:first-child) {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.capture {
  margin: 0;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
  color: #141414;
}
@media (max-width: 1024px) {
  .capture {
    font-size: 1.6rem;
  }
}
.capture span {
  color: #307fe2;
}

.capture2 {
  margin: 0;
  font-weight: 500;
  font-size: 2.6rem;
  color: #141414;
}

.title1 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 12.8rem;
  line-height: 96%;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .title1 {
    font-size: 2.8rem;
  }
}
.title1 span {
  display: block;
}
.title1 span.high {
  color: #307fe2;
}
.title1--dark {
  color: #141414;
}

.hor-scroll {
  -webkit-transition: 0.7s linear;
  transition: 0.7s linear;
}

.title2 {
  margin: 0;
  font-weight: 500;
  font-size: 4.6rem;
  color: #141414;
  line-height: 137.5%;
}
@media (max-width: 1024px) {
  .title2 {
    font-size: 2.4rem;
  }
}
.title2 span {
  color: #307fe2;
}
.title2--mob {
  display: none;
}
@media (max-width: 1024px) {
  .title2--mob {
    display: block;
    margin-bottom: 2rem;
  }
}

.title3 {
  margin: 0;
  font-weight: 500;
  font-size: 4rem;
  color: #141414;
}
@media (max-width: 1024px) {
  .title3 {
    font-size: 2.4rem;
  }
}
.title3 span {
  color: #307fe2;
}

.title4 {
  margin: 0;
  font-weight: 500;
  font-size: 3.2rem;
  color: #141414;
}
@media (max-width: 1024px) {
  .title4 {
    font-size: 1.6rem;
  }
}
.title4 span {
  color: #307fe2;
}

.desc {
  margin: 0;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  color: #141414;
  line-height: 135%;
}
@media (max-width: 1024px) {
  .desc {
    font-size: 1rem;
  }
}
.desc--bold {
  font-weight: 600;
}

ul li::marker {
  font-size: 70%;
}

.text {
  line-height: 150%;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.6rem;
  color: #141414;
}
@media (max-width: 1024px) {
  .text {
    font-size: 0.8rem;
  }
}
.text--thin {
  font-weight: 300;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.5rem;
  border: 0.05rem solid rgba(20, 20, 20, 0.4);
  padding: 1.4rem 2.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: #307fe2;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #307fe2;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(110%);
  -ms-transform: translateY(110%);
  transform: translateY(110%);
}
@media (any-hover: hover) {
  .btn:hover {
    color: #fff;
  }
  .btn:hover::before {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 1024px) {
  .btn {
    padding: 1rem 1.4rem;
    font-size: 1rem;
    border-width: 0.05rem;
    gap: 1rem;
  }
}
.btn--blue {
  border-color: #307fe2;
}
.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn svg {
  fill: none;
  stroke: currentColor;
  width: 0.6rem;
  height: 1.2rem;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}
@media (max-width: 1024px) {
  .btn svg {
    width: 0.4rem;
    height: 0.7rem;
  }
}

.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.2rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #307fe2;
}
@media (max-width: 1024px) {
  .link {
    font-size: 0.7rem;
    gap: 0.6rem;
  }
}
.link svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 0.8rem;
  height: 1rem;
  fill: none;
  stroke: currentColor;
}
@media (max-width: 1024px) {
  .link svg {
    width: 0.3rem;
    height: 0.5rem;
  }
}

@-webkit-keyframes sizeup {
  0% {
    height: 0;
  }
  50% {
    height: 40rem;
  }
  100% {
    height: 0;
  }
}

@keyframes sizeup {
  0% {
    height: 0;
  }
  50% {
    height: 40rem;
  }
  100% {
    height: 0;
  }
}
@-webkit-keyframes rLine {
  0% {
    -webkit-transform: translateY(10%) translateX(-50%);
    transform: translateY(10%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(-100%) translateX(-50%);
    transform: translateY(-100%) translateX(-50%);
  }
}
@keyframes rLine {
  0% {
    -webkit-transform: translateY(10%) translateX(-50%);
    transform: translateY(10%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(-100%) translateX(-50%);
    transform: translateY(-100%) translateX(-50%);
  }
}
.body-light .sidebar__text {
  color: #fff;
}
.body-light .header__logo svg {
  fill: #fff;
}
.body-light .h-nav {
  border-right-color: rgba(255, 255, 255, 0.25);
}
.body-light .h-nav ul > li {
  color: #fff;
}
.body-light .sidebar {
  border-left-color: rgba(255, 255, 255, 0.25);
}

.hide-nav .sidebar {
  -webkit-transform: translate(100%, 0%);
  -ms-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
}

.header__nav--testi ul ul li {
  font-size: 1rem;
}
.header__nav--testi ul ul li.active::before {
  width: 2.5rem;
}

.header__nav--testi ul ul li::before {
  top: 0.4rem;
}

.hide-side {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.site-screen-start > section.scale-down {
  -webkit-animation: scale-down 20s linear 1;
  animation: scale-down 20s linear 1;
}
@media (max-width: 1024px) {
  .site-screen-start > section.scale-down {
    -webkit-animation: scale-down-mobile 20s linear 1;
    animation: scale-down-mobile 20s linear 1;
  }
}

@media (max-width: 1024px) {
  .site-screen-start {
    display: none;
  }
}

@-webkit-keyframes scale-down {
  0% {
    background-size: 150vw 150vh;
  }
  99% {
    background-size: 110vw 110vh;
  }
  100% {
    background-size: cover;
  }
}

@keyframes scale-down {
  0% {
    background-size: 150vw 150vh;
  }
  99% {
    background-size: 110vw 110vh;
  }
  100% {
    background-size: cover;
  }
}
@-webkit-keyframes scale-down-mobile {
  0% {
    background-size: 150vw 120vh;
  }
  99% {
    background-size: 100vw 100vh;
  }
  100% {
    background-size: cover;
  }
}
@keyframes scale-down-mobile {
  0% {
    background-size: 150vw 120vh;
  }
  99% {
    background-size: 100vw 100vh;
  }
  100% {
    background-size: cover;
  }
}
.header {
  padding: 4rem;
}
@media (max-width: 1024px) {
  .header {
    display: none;
  }
}
.header__logo {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 4rem;
}
.header__logo svg {
  fill: #307fe2;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.header__nav--small ul ul li {
  opacity: 1;
  font-size: 1.1rem;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 1.3s ease-out;
  transition: 1.3s ease-out;
}
@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
.sidebar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 27rem;
  height: 100%;
  white-space: nowrap;
}
.sidebar__text {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-weight: 300;
  font-size: 1.8rem;
  color: #141414;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}
.sidebar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.sidebar__btn::before {
  content: "";
  display: block;
  width: 4.6rem;
  height: 4.6rem;
  background-image: url("./../img/blobs.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.blue-block {
  margin-top: 3rem;
  background-color: rgba(48, 127, 226, 0.7);
  padding: 2.4rem;
  padding-left: 4rem;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 65% 75%, 40% 100%, 0 100%);
  position: relative;
}
@media (max-width: 1024px) {
  .blue-block {
    margin-top: 0;
    padding-top: 1.6rem;
    padding-left: 2.2rem;
    padding-right: 0.9rem;
    padding-bottom: 0.9rem;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 58% 75%, 48% 100%, 0 100%);
  }
}
.blue-block::before,
.blue-block::after {
  content: "";
  position: absolute;
  left: 1.8rem;
  top: 1.8rem;
  width: 5.4rem;
  height: 4.4rem;
  background-image: url("./../img/white-comma.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1024px) {
  .blue-block::before,
  .blue-block::after {
    width: 2.8rem;
    height: 2.5rem;
    top: 0.7rem;
    left: 0.9rem;
  }
}
.blue-block::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: unset;
  top: 50%;
  right: 3.5rem;
}
@media (max-width: 1024px) {
  .blue-block::after {
    top: unset;
    bottom: 3.6rem;
    right: 0.5rem;
  }
}
.blue-block__desc {
  margin: 0;
  margin-bottom: 2.4rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}
@media (max-width: 1024px) {
  .blue-block__desc {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}
.blue-block__desc span {
  display: block;
}
@media (max-width: 1024px) {
  .blue-block__desc span {
    display: inline;
  }
}

.nav {
  position: absolute;
  top: 50%;
  left: 10.4rem;
  right: 3rem;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -webkit-transition: 1.3s ease-out;
  transition: 1.3s ease-out;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav ul li {
  position: relative;
  font-weight: 400;
  font-size: 1.4rem;
  color: #141414;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.nav ul li:not(:last-child) {
  margin-bottom: 1.8rem;
}
.nav ul li::before {
  content: "";
  position: absolute;
  right: calc(100% + 2rem);
  top: 0.8rem;
  height: 1px;
  width: 2.5rem;
  background-color: currentColor;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.nav ul li.active {
  font-weight: 600;
  opacity: 1;
  pointer-events: none;
  cursor: default;
}
.nav ul li.active::before {
  width: 7.4rem;
}
.nav ul li a {
  color: inherit;
}
.nav ul ul {
  padding-left: 5rem;
}
.nav--slim {
  right: 6rem;
}

.service {
  --offset-top: 8vh;
  height: 100%;
  padding-top: var(--offset-top);
  background-color: #f4f4f4;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1024px) {
  .service {
    background-color: #fff;
    --offset-top: 3rem;
  }
}
.service__title {
  margin-bottom: 3.5rem;
}
.service .container {
  position: relative;
  z-index: 200;
  height: 100%;
}
.service__container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
@media (max-width: 1024px) {
  .service__container {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
.service__wrapper {
  --pos: 100%;
  position: absolute;
  left: 0;
  top: calc(-1 * var(--offset-top));
  z-index: 10;
  width: 100vw;
  height: 100vh;
  -webkit-mask-image: url(./../img/arr.webp);
  mask-image: url(./../img/arr.webp);
  -webkit-mask-size: 90rem 100%;
  mask-size: 90rem 100%;
  -webkit-mask-position: var(--pos) 100%;
  mask-position: var(--pos) 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-transition: linear;
  transition: linear;
  background-image: url("./../img/cover.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-color: #141414;
}
.service__wrapper .service__wrap {
  padding-top: var(--offset-top);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
@media (max-width: 1024px) {
  .service__wrapper .service__wrap {
    height: auto;
    width: auto;
  }
}
.service__wrapper .service__wrap--garant {
  padding-bottom: 12rem;
}
.service__wrapper p,
.service__wrapper h2,
.service__wrapper span {
  color: #fff;
}
@media (max-width: 1024px) {
  .service__wrapper {
    display: none;
    height: auto;
  }
}
.service__arrow {
  position: absolute;
  z-index: -1;
  left: 20%;
  top: 0;
  height: 100vh;
  width: 90rem;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
  mix-blend-mode: difference;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);
  background-color: #141414;
}
.service__arrow img {
  display: block;
  width: 100%;
  height: 100%;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3rem;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}
.service-item:nth-child(4) {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 1024px) {
  .service-item:nth-child(4) {
    -ms-grid-column-span: 1;
    grid-column: 1 span;
  }
}
@media (max-width: 1024px) {
  .service-item:last-child {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}
@media (max-width: 1024px) {
  .service-item {
    padding: 1rem 0.9rem;
  }
  .service-item:nth-child(3n + 1) {
    background: #f4f4f4;
  }
  .service-item:nth-child(3n + 2) {
    background: #dcecff;
  }
  .service-item:nth-child(3n + 3) {
    background: #dbe1e9;
  }
}
.service-item:last-child::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120vh;
  border: 1px solid rgba(20, 20, 20, 0.1);
}
@media (max-width: 1024px) {
  .service-item:last-child::before {
    display: none;
  }
}
.service-item:nth-last-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120vh;
  border: 1px solid rgba(20, 20, 20, 0.1);
}
@media (max-width: 1024px) {
  .service-item:nth-last-child(2)::before {
    display: none;
  }
}
.service-item__link {
  display: none;
}
@media (max-width: 1024px) {
  .service-item__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.service-item__text {
  max-width: 32.5rem;
  text-align: center;
  color: #141414;
  z-index: 10;
  line-height: 135%;
}
@media (max-width: 1024px) {
  .service-item__text {
    font-size: 1rem;
    color: rgba(20, 20, 20, 0.7);
    margin-bottom: 2.4rem;
    max-width: 100%;
  }
}
.service-item__fig {
  display: block;
  margin-bottom: 4.5rem;
  font-weight: 700;
  font-size: 12rem;
  line-height: 50%;
  letter-spacing: -0.03em;
  color: rgba(48, 127, 226, 0.1);
}
@media (max-width: 1024px) {
  .service-item__fig {
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 1.2rem;
    color: #307fe2;
  }
}

.service-garant {
  padding: 12rem 0;
  padding-top: var(--offset-top);
}
@media (max-width: 1024px) {
  .service-garant {
    padding: 3rem 0;
  }
}
.service-garant__title {
  margin-bottom: 6rem;
}
@media (max-width: 1024px) {
  .service-garant__title {
    margin-bottom: 1rem;
  }
}
.service-garant__text {
  max-width: 84.5rem;
  margin: 0 auto;
}
.service-garant__top:not(:last-child) {
  margin-bottom: 10rem;
}
@media (max-width: 1024px) {
  .service-garant__top:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.service-garant__content {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}
.service-garant__capture {
  margin: 0;
  font-weight: 600;
  font-size: 2.4rem;
  color: #141414;
}
@media (max-width: 1024px) {
  .service-garant__capture {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
.service-garant__subcapture {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
@media (max-width: 1024px) {
  .service-garant__subcapture {
    max-width: 23rem;
    margin: 0 auto;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.service-garant__bottom {
  max-width: 56rem;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-color: #f4f4f4;
  border-top: 1px solid rgba(20, 20, 20, 0.25);
}
@media (max-width: 1024px) {
  .footer {
    display: none;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__left {
  width: 30.5rem;
  border-right: 1px solid rgba(20, 20, 20, 0.25);
  padding-left: 5.7rem;
  padding-right: 2rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.footer__right {
  width: 15rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-left: 1px solid rgba(20, 20, 20, 0.25);
}
.footer__mid {
  padding-left: 10rem;
  padding-right: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6rem;
}
.footer__wrapper {
  padding-top: 4.7rem;
  padding-bottom: 3.5rem;
}
.footer__logo {
  display: block;
  width: 10.2rem;
  height: 4rem;
  margin-bottom: 2.35rem;
}
.footer__logo svg {
  fill: #307fe2;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}
.footer__extra {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
}
.footer__address {
  font-style: normal;
}
.footer__add:not(:last-child) {
  margin-bottom: 1.8rem;
}
.footer__btn {
  width: 100%;
}
.footer__bottom {
  border-top: 1px solid rgba(20, 20, 20, 0.25);
  padding-top: 2.4rem;
  padding-bottom: 1.8rem;
  padding-right: 15rem;
  padding-left: 7.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
}
.footer__copy {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}
.footer__plug {
  display: block;
  width: 17.8rem;
  height: auto;
}
.footer__plug img {
  display: block;
  width: 100%;
  height: auto;
}

.footer--white {
  background: #fefeff;
}

.footer--blue {
  background: #dcecff;
}

.footer--ultra-blue {
  background: #d2e3f9;
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 1rem;
}
.footer-nav__link {
  display: inline-block;
  font-weight: 300;
  font-size: 1.4rem;
  color: #000;
}
.footer-nav__link--bold {
  font-size: 2rem;
  font-weight: 600;
}
.footer-nav__link--bold:not(:last-child) {
  margin-bottom: 3rem;
}

.fn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6rem;
}
.fn__top,
.fn__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.fn__link--capture {
  display: inline-block;
  margin-bottom: 2.7rem;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.6rem;
  color: #000;
}

.fn-b__item {
  max-width: 19rem;
}
.fn-b__item:not(:last-child) {
  margin-bottom: 1rem;
}
.fn-b__link {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.6rem;
  color: #000;
}

.mob-header {
  display: none;
  position: relative;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2rem 0;
}
.mob-header--spec {
  position: fixed;
}
@media (max-width: 1024px) {
  .mob-header {
    display: block;
  }
}
.mob-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.mob-header__logo {
  display: block;
  width: 4.5rem;
  height: 1.7rem;
}
.mob-header__logo svg {
  width: 100%;
  height: 100%;
  fill: #307fe2 !important;
}
.mob-header__dl {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
  border: 0.05rem solid #d9d9d9;
  background-image: url("./../img/download-wh.webp");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
}
.mob-header__dl--spec {
  background-image: url("./../img/spec-icon.webp");
  border-color: #d9d9d9;
}

:root {
  --blue: #307fe2;
  --white: #f4f4f4;
  --black: #141414;
  --black_opacity: rgba(20, 20, 20, 0.5);
  --white_opacity: rgba(255, 255, 255, 0.5);
}
.site-slider.hide-control .testi-cont__right {
  opacity: 0;
}

.hide-side {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  transition: 0.3s ease-out, 0.3s ease-out;
}
#map_video {
  width: 68.3854166667vw;
  /*	filter: brightness(0.957);*/
  position: absolute;
  opacity: 1;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.ended_video {
  opacity: 0 !important;
}

.geography_filter {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .geography_filter {
    display: none;
  }
}
.geography_filter .extra_map {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.geography_filter .extra_map .background {
  width: 68.3854166667vw;
  height: 33.75vw;
  background: url("./../img/map_review.svg") no-repeat center/cover;
}
.geography_filter .extra_map .pkuis {
  position: absolute;
}
.geography_filter .extra_map .pkui {
  position: absolute;
  width: 1.5625vw;
  height: 1.5625vw;
  z-index: 2;
}
.geography_filter .extra_map .pkui .pkui__roll {
  width: 1.5625vw;
  height: 1.5625vw;
  border-radius: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1px;
  color: var(--blue);
  font-size: 0.7291666667vw;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 2;
  -webkit-box-shadow: 0 0 42px 0 rgba(20, 20, 20, 0.35);
  box-shadow: 0 0 42px 0 rgba(20, 20, 20, 0.35);
}
.geography_filter .extra_map .pkui .pkui__roll:hover {
  -webkit-filter: brightness(0.95);
  filter: brightness(0.95);
}
.geography_filter .extra_map .pkui .pkui__roll:before {
  position: absolute;
  content: "";
  width: 1.9270833333vw;
  height: 1.9270833333vw;
  border: 1px solid var(--blue);
  border-radius: 50%;
  display: block;
}
.geography_filter .extra_map .pkui .pkui__more {
  z-index: 5;
  width: 16.6666666667vw;
  /*			height: 9.66666666666667vw;*/
  opacity: 0;
  background: white;
  padding: 1.3020833333vw 1.5625vw;
  -webkit-transform: translate(-10vw, 1vw);
  -ms-transform: translate(-10vw, 1vw);
  transform: translate(-10vw, 1vw);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 1.3020833333vw;
  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  -webkit-animation: fade_unreg 0.2s ease;
  animation: fade_unreg 0.2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.geography_filter .extra_map .pkui .pkui__more.__top {
  -webkit-transform: translate(-10vw, -140%);
  -ms-transform: translate(-10vw, -140%);
  transform: translate(-10vw, -140%);
}
.geography_filter .extra_map .pkui .pkui__more.__right {
  -webkit-transform: translate(0vw, 1vw);
  -ms-transform: translate(0vw, 1vw);
  transform: translate(0vw, 1vw);
}
.geography_filter .extra_map .pkui .pkui__more .ex_close {
  position: absolute;
  right: 0.78125vw;
  top: 0.78125vw;
  width: 1vw;
  height: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.4;
  cursor: pointer;
}
.geography_filter .extra_map .pkui .pkui__more .ex_close p {
  font-size: 1.5vw;
  color: #141414;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}
.geography_filter .extra_map .pkui .pkui__more > span {
  color: var(--blue);
  font-size: 0.6770833333vw;
}
.geography_filter .extra_map .pkui .pkui__more b {
  font-size: 1.25vw;
  color: var(--black);
  font-weight: 600;
  margin: 0.2604166667vw 0 1.0416666667vw;
}
.geography_filter .extra_map .pkui .pkui__more .urls_list__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.geography_filter .extra_map .pkui .pkui__more .urls_list__ a {
  color: var(--blue);
  text-decoration: underline;
  font-size: 0.8333333333vw;
  margin-top: 0.7vw;
}
.geography_filter .extra_map .pkui .pkui__more .urls_list__ a:nth-child(1) {
  margin-top: 0;
}
.geography_filter .extra_map .pkui .pkui__more .urls_list__ p {
  font-size: 0.8333333333vw;
  margin-top: 0.7vw;
}
.geography_filter .extra_map .pkui .pkui__more .urls_list__ p:nth-child(1) {
  margin-top: 0;
}
.geography_filter .extra_map .pkui.active .pkui__roll {
  background: var(--blue);
  color: white;
  opacity: 1;
}
.geography_filter .extra_map .pkui.active .pkui__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-animation: fade_reg 0.2s ease;
  animation: fade_reg 0.2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.geography_filter .title_listener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5.2083333333vw;
  content: "";
}
.geography_filter .title_listener h2 {
  font-size: 2.3958333333vw;
}
.geography_filter .title_listener h2 span {
  color: var(--blue);
}
.geography_filter .title_listener .filter__btn {
  width: 11.3020833333vw;
  height: 3.6458333333vw;
  border: 1px solid var(--black_opacity);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.25vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.geography_filter .title_listener .filter__btn p {
  color: var(--blue);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.geography_filter .title_listener .filter__btn:after {
  content: "";
  display: block;
  width: 0.8854166667vw;
  height: 0.8854166667vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: url(media/img/Filters.svg) no-repeat center/cover;
  margin-left: 1.3020833333vw;
}
.geography_filter .title_listener .filter__btn:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: white;
}
.geography_filter .title_listener .filter__btn:hover:after {
  -webkit-filter: brightness(6);
  filter: brightness(6);
}
.geography_filter .title_listener .filter__btn:hover p {
  color: white;
}
