.service {
  --offset-top: 8vh;
  height: 100%;
  padding-top: var(--offset-top);
  background-color: #f4f4f4;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1024px) {
  .service {
    background-color: #fff;
    --offset-top: 3rem;
  }
}
.service__title {
  margin-bottom: 3.5rem;
}
.service .container {
  position: relative;
  z-index: 200;
  height: 100%;
}
.service__container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
@media (max-width: 1024px) {
  .service__container {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
.service__wrapper {
  --pos: 100%;
  position: absolute;
  left: 0;
  top: calc(-1 * var(--offset-top));
  z-index: 10;
  width: 100vw;
  height: 100vh;
  -webkit-mask-image: url(./../img/arr.webp);
  mask-image: url(./../img/arr.webp);
  -webkit-mask-size: 90rem 100%;
  mask-size: 90rem 100%;
  -webkit-mask-position: var(--pos) 100%;
  mask-position: var(--pos) 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-transition: linear;
  transition: linear;
  background-image: url("./../img/cover.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-color: #141414;
}
.service__wrapper .service__wrap {
  padding-top: var(--offset-top);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
@media (max-width: 1024px) {
  .service__wrapper .service__wrap {
    height: auto;
    width: auto;
  }
}
.service__wrapper .service__wrap--garant {
  padding-bottom: 12rem;
}
.service__wrapper p,
.service__wrapper h2,
.service__wrapper span {
  color: #fff;
}
@media (max-width: 1024px) {
  .service__wrapper {
    display: none;
    height: auto;
  }
}
.service__arrow {
  position: absolute;
  z-index: -1;
  left: 20%;
  top: 0;
  height: 100vh;
  width: 90rem;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
  mix-blend-mode: difference;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);
  background-color: #141414;
}
.service__arrow img {
  display: block;
  width: 100%;
  height: 100%;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3rem;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}
.service-item:nth-child(4) {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 1024px) {
  .service-item:nth-child(4) {
    -ms-grid-column-span: 1;
    grid-column: 1 span;
  }
}
@media (max-width: 1024px) {
  .service-item:last-child {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}
@media (max-width: 1024px) {
  .service-item {
    padding: 1rem 0.9rem;
  }
  .service-item:nth-child(3n + 1) {
    background: #f4f4f4;
  }
  .service-item:nth-child(3n + 2) {
    background: #dcecff;
  }
  .service-item:nth-child(3n + 3) {
    background: #dbe1e9;
  }
}
.service-item:last-child::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120vh;
  border: 1px solid rgba(20, 20, 20, 0.1);
}
@media (max-width: 1024px) {
  .service-item:last-child::before {
    display: none;
  }
}
.service-item:nth-last-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120vh;
  border: 1px solid rgba(20, 20, 20, 0.1);
}
@media (max-width: 1024px) {
  .service-item:nth-last-child(2)::before {
    display: none;
  }
}
.service-item__link {
  display: none;
}
@media (max-width: 1024px) {
  .service-item__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.service-item__text {
  max-width: 32.5rem;
  text-align: center;
  color: #141414;
  z-index: 10;
  line-height: 135%;
}
@media (max-width: 1024px) {
  .service-item__text {
    font-size: 1rem;
    color: rgba(20, 20, 20, 0.7);
    margin-bottom: 2.4rem;
    max-width: 100%;
  }
}
.service-item__fig {
  display: block;
  margin-bottom: 4.5rem;
  font-weight: 700;
  font-size: 12rem;
  line-height: 50%;
  letter-spacing: -0.03em;
  color: rgba(48, 127, 226, 0.1);
}
@media (max-width: 1024px) {
  .service-item__fig {
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 1.2rem;
    color: #307fe2;
  }
}

.service-garant {
  padding: 12rem 0;
  padding-top: var(--offset-top);
}
@media (max-width: 1024px) {
  .service-garant {
    padding: 3rem 0;
  }
}
.service-garant__title {
  margin-bottom: 6rem;
}
@media (max-width: 1024px) {
  .service-garant__title {
    margin-bottom: 1rem;
  }
}
.service-garant__text {
  max-width: 84.5rem;
  margin: 0 auto;
}
.service-garant__top:not(:last-child) {
  margin-bottom: 10rem;
}
@media (max-width: 1024px) {
  .service-garant__top:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.service-garant__content {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}
.service-garant__capture {
  margin: 0;
  font-weight: 600;
  font-size: 2.4rem;
  color: #141414;
}
@media (max-width: 1024px) {
  .service-garant__capture {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
.service-garant__subcapture {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
@media (max-width: 1024px) {
  .service-garant__subcapture {
    max-width: 23rem;
    margin: 0 auto;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.service-garant__bottom {
  max-width: 56rem;
  margin: 0 auto;
  text-align: center;
}
