.sp-block-hero {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .sp-block-hero {
    padding: 3rem 0;
  }
}
.sp-block-hero .container {
  height: 100%;
}
.sp-block-hero__title {
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 500;
  font-size: 4.5rem;
}
@media (max-width: 1024px) {
  .sp-block-hero__title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    margin-right: -1.2rem;
    margin-left: -1.2rem;
  }
}
.sp-block-hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
@media (max-width: 1024px) {
  .sp-block-hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.sp-block-hero__left {
  padding-top: 12rem;
  padding-bottom: 9rem;
  height: 100%;
  -ms-flex-preferred-size: 93rem;
  flex-basis: 93rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-right: 1px solid rgba(20, 20, 20, 0.1);
}
@media (max-width: 1024px) {
  .sp-block-hero__left {
    border: none;
    padding: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
.sp-block-hero__right {
  height: 100%;
  padding: 0 8rem;
  padding-top: 12rem;
  padding-bottom: 18rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 4rem;
}
@media (max-width: 1024px) {
  .sp-block-hero__right {
    padding: 0;
    gap: 1rem;
    text-align: center;
  }
}
.sp-block-hero__img {
  height: 73.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .sp-block-hero__img {
    height: 22rem;
  }
}
.sp-block-hero__img img,
.sp-block-hero__img svg {
  display: block;
  height: 100%;
  width: auto;
}
.sp-block-hero__img .prod-items__arr {
  width: 100%;
}
.sp-block-hero__top {
  font-weight: 500;
  font-size: 3.2rem;
  color: #307fe2;
  line-height: 120%;
}
@media (max-width: 1024px) {
  .sp-block-hero__top {
    font-size: 1.9rem;
    text-align: center;
  }
}
.sp-block-hero__top span {
  display: block;
  font-size: 2.6rem;
}
@media (max-width: 1024px) {
  .sp-block-hero__top span {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) {
  .sp-block-hero__cta {
    font-size: 1rem;
  }
}
.sp-block-hero__bottom--mob {
  display: none;
}
@media (max-width: 1024px) {
  .sp-block-hero__bottom--mob {
    display: block;
    text-align: center;
  }
}
.sp-block-hero__mid ul,
.sp-block-hero__mid ol {
  max-width: 23rem;
  margin: 0;
  padding: 0;
  padding-left: 2.5rem;
  color: rgba(20, 20, 20, 0.7);
}
@media (max-width: 1024px) {
  .sp-block-hero__mid ul,
  .sp-block-hero__mid ol {
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.sp-block-hero__mid ul.wide,
.sp-block-hero__mid ol.wide {
  max-width: 37rem;
}
.sp-block-hero__text {
  color: rgba(20, 20, 20, 0.7);
}
@media (max-width: 1024px) {
  .sp-block-hero__text {
    text-align: center;
  }
}
.sp-block-hero__capture {
  display: block;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .sp-block-hero__capture {
    text-align: center;
    font-size: 1.2rem;
  }
}
.sp-block-hero__link {
  margin-bottom: 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2.6rem;
  color: #141414;
  line-height: 135%;
}
@media (max-width: 1024px) {
  .sp-block-hero__link {
    text-align: center;
    font-size: 1.2rem;
  }
}
.sp-block-hero__link a {
  display: block;
  color: #307fe2;
}

.sp-block-hero--kan .sp-block-hero__title {
  margin: 0;
}
.sp-block-hero--kan .sp-block-hero__img {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 86.4rem;
  margin-top: -5.8rem;
  -webkit-transform: translateX(-8rem);
  -ms-transform: translateX(-8rem);
  transform: translateX(-8rem);
}
@media (max-width: 1024px) {
  .sp-block-hero--kan .sp-block-hero__img {
    height: 22rem;
    margin: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.sp-block-hero--kan .sp-block-hero__img .prod-items__arr .anim-img image {
  width: 100%;
}
.sp-block-hero--kan .sp-block-hero__img .prod-items__arr .anim-img {
  width: 100%;
}

.sp-block-hero--block .sp-block-hero__img {
  padding-right: 4rem;
}
@media (max-width: 1024px) {
  .sp-block-hero--block .sp-block-hero__img {
    padding: 0;
  }
}
.sp-block-hero--block .sp-block-hero__img .prod-items__arr .anim-img image {
  width: auto;
}
@media (max-width: 1024px) {
  .sp-block-hero--block .sp-block-hero__img .prod-items__arr .anim-img image {
    width: 100%;
  }
}
.sp-block-hero--block .sp-block-hero__img .prod-items__arr .anim-img {
  width: auto;
}
@media (max-width: 1024px) {
  .sp-block-hero--block .sp-block-hero__img .prod-items__arr .anim-img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .sp-block-hero--filt .sp-block-hero__img {
    margin-top: 0;
  }
}
.sp-block-hero--filt .sp-block-hero__img .prod-items__arr .anim-img image {
  width: 100%;
}

@media (max-width: 1024px) {
  .sp-block-hero--box ul {
    display: inline-block;
    list-style: circle;
    padding-left: 2rem;
    -moz-text-align-last: left;
    text-align-last: left;
    margin: 0 auto;
  }
}
.sp-block-hero--box .prod-items__arr {
  width: 100%;
}

.sp-block__mob {
  display: none;
  text-align: center;
}
.sp-block__mob--nom .sp-block__down {
  margin-top: 0;
}
@media (max-width: 1024px) {
  .sp-block__mob {
    display: block;
  }
}
.sp-block__extra {
  margin: 3rem 0;
  margin-bottom: 6rem;
}
.sp-block__extra p {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #141414;
}
.sp-block__down {
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  height: 34rem;
  margin-top: -8rem;
}
.sp-block__down img {
  width: 100%;
  height: 100%;
  -o-object-position: bottom;
  object-position: bottom;
}

.sp-block-solv {
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#dcecff)
  );
  background: linear-gradient(180deg, #fff 0%, #dcecff 100%);
}
@media (max-width: 1024px) {
  .sp-block-solv {
    padding: 3rem 0;
  }
}
.sp-block-solv--aero {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    color-stop(49.4%, #dcecff),
    to(#fff)
  );
  background: linear-gradient(180deg, #fff 0%, #dcecff 49.4%, #fff 100%);
}
@media (max-width: 1024px) {
  .sp-block-solv--aero {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      to(#dcecff)
    );
    background: linear-gradient(180deg, #fff 0%, #dcecff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-solv--mod {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      to(#fff)
    );
    background: linear-gradient(180deg, #fff 0%, #fff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-solv--ready {
    background: #feffff;
  }
}
@media (max-width: 1024px) {
  .sp-block-solv--kan {
    display: none;
  }
}
.sp-block-solv .container {
  min-height: 100%;
  height: 100%;
}
.sp-block-solv__extra:not(:last-child) {
  margin-bottom: 3rem;
}
.sp-block-solv__extra p {
  margin: 0;
}
.sp-block-solv__extra p:not(:last-child) {
  margin-bottom: 0.5rem;
}
.sp-block-solv__title {
  margin-bottom: 6rem;
}
@media (max-width: 1024px) {
  .sp-block-solv__title {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 3rem;
    margin-right: -2rem;
    margin-left: -2rem;
  }
}
.sp-block-solv__container {
  min-height: 100%;
  padding-top: 12rem;
  padding-left: 10rem;
  padding-bottom: 12rem;
  position: relative;
}
@media (max-width: 1024px) {
  .sp-block-solv__container {
    padding: 0;
  }
}
.sp-block-solv__container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: auto;
}
.sp-block-solv__arr {
  position: absolute;
  right: 2rem;
  top: 0;
  height: 100%;
  width: auto;
}
@media (max-width: 1024px) {
  .sp-block-solv__arr {
    display: none;
  }
}
.sp-block-solv__arr img {
  height: 100%;
  width: auto;
}
.sp-block-solv__btn {
  padding: 2rem 3.5rem;
}
@media (max-width: 1024px) {
  .sp-block-solv__btn {
    padding: 1.2rem 2.6rem;
    font-size: 1.4rem;
    margin: 0 auto;
  }
}
.sp-block-solv__back {
  position: relative;
  z-index: 10;
}
.sp-block-solv__content {
  position: relative;
  z-index: 4;
  max-width: 69rem;
}
@media (max-width: 1024px) {
  .sp-block-solv__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1rem;
    max-width: 100%;
  }
}
.sp-block-solv__content ul {
  margin: 0;
  padding: 0;
  max-width: 59rem;
  padding-left: 2rem;
  color: rgba(20, 20, 20, 0.7);
  margin-bottom: 9.7rem;
}
@media (max-width: 1024px) {
  .sp-block-solv__content ul {
    margin-bottom: 3rem;
    max-width: 100%;
  }
}
.sp-block-solv__content ul li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.sp-block-solv__content--53 ul {
  margin-bottom: 5.3rem;
}
.sp-block-solv__content--35 ul {
  margin-bottom: 3rem;
}
.sp-block-solv__content--wide {
  max-width: 83.5rem;
}
.sp-block-solv__content--wide ul {
  max-width: 100%;
}
.sp-block-solv__left {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 93rem;
  flex-basis: 93rem;
  border-right: 1px solid rgba(20, 20, 20, 0.1);
  padding: 12rem;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .sp-block-solv__left {
    padding: 0;
    border: none;
  }
}
.sp-block-solv__right {
  padding: 12rem 9rem;
  position: sticky;
  top: 0;
  height: 100vh;
}
.sp-block-solv__get {
  text-align: left;
  margin-bottom: 2rem;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .sp-block-solv__get {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
.sp-block-solv__get--center {
  text-align: center;
}
.sp-block-solv__img:not(:last-child) {
  margin-bottom: 4rem;
}
.sp-block-solv__img img {
  width: 100%;
  height: auto;
}

.sp-block-chars {
  height: 100%;
  background: #dcecff;
}
@media (max-width: 1024px) {
  .sp-block-chars {
    padding: 3rem 0;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ddecff),
      to(#f4f4f4)
    );
    background: linear-gradient(180deg, #ddecff 0%, #f4f4f4 100%);
  }
}
.sp-block-chars--mob {
  display: none;
}
@media (max-width: 1024px) {
  .sp-block-chars--mob {
    display: block;
  }
}
.sp-block-chars--filt {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#dcecff),
    to(#fefeff)
  );
  background: linear-gradient(180deg, #dcecff 0%, #fefeff 100%);
}
@media (max-width: 1024px) {
  .sp-block-chars--filt {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ddecff),
      to(#e2effc)
    );
    background: linear-gradient(180deg, #ddecff 0%, #e2effc 100%);
  }
}
.sp-block-chars--plosk {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#fff)
  );
  background: linear-gradient(180deg, #fff 0%, #fff 100%);
}
@media (max-width: 1024px) {
  .sp-block-chars--plosk {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      color-stop(48.9%, #dcecff),
      to(#e4eefb)
    );
    background: linear-gradient(180deg, #fff 0%, #dcecff 48.9%, #e4eefb 100%);
  }
}
.sp-block-chars--stat {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#dcecff),
    to(#fefeff)
  );
  background: linear-gradient(180deg, #dcecff 0%, #fefeff 100%);
}
@media (max-width: 1024px) {
  .sp-block-chars--stat {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      to(#dcecff)
    );
    background: linear-gradient(180deg, #fff 0%, #dcecff 100%);
  }
}
.sp-block-chars--mesk {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#fff)
  );
  background: linear-gradient(180deg, #fff 0%, #fff 100%);
}
@media (max-width: 1024px) {
  .sp-block-chars--mesk {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      color-stop(48.9%, #dcecff),
      to(#f4f4f4)
    );
    background: linear-gradient(180deg, #fff 0%, #dcecff 48.9%, #f4f4f4 100%);
  }
}
.sp-block-chars--box {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#dcecff),
    to(#fefeff)
  );
  background: linear-gradient(180deg, #dcecff 0%, #fefeff 100%);
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .sp-block-chars--box {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ddecff),
      to(#e9f3ff)
    );
    background: linear-gradient(180deg, #ddecff 0%, #e9f3ff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-chars--stat {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ddecff),
      to(#f4f4f4)
    );
    background: linear-gradient(180deg, #ddecff 0%, #f4f4f4 100%);
  }
}
.sp-block-chars .container {
  height: 100%;
}
.sp-block-chars__mob .sp-block__down {
  margin-top: 0;
}
.sp-block-chars__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .sp-block-chars__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.sp-block-chars__container--slim .sp-block-chars__left {
  padding-left: 5.8rem;
  padding-right: 5.8rem;
  gap: 6rem;
}
@media (max-width: 1024px) {
  .sp-block-chars__container--slim .sp-block-chars__left {
    padding: 0;
    gap: 3rem;
  }
}
.sp-block-chars__container--slim .sp-block-chars__header {
  padding: 0;
}
.sp-block-chars__left {
  padding-top: 12rem;
  padding-bottom: 10rem;
  -ms-flex-preferred-size: 93rem;
  flex-basis: 93rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-right: 1px solid rgba(20, 20, 20, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10rem;
}
@media (max-width: 1024px) {
  .sp-block-chars__left {
    padding: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    gap: 3rem;
    border: none;
  }
}
.sp-block-chars__right {
  padding-top: 12rem;
  padding-left: 9.2rem;
  padding-right: 7rem;
  height: 100vh;
  position: sticky;
  top: 0;
}
@media (max-width: 1024px) {
  .sp-block-chars__right {
    display: none;
  }
}
.sp-block-chars__title {
  margin-bottom: 1.7rem;
  letter-spacing: 0;
  text-align: left;
  letter-spacing: -0.15487rem;
}
.sp-block-chars__title:not(:last-child) {
  margin-bottom: 1.7rem;
}
@media (max-width: 1024px) {
  .sp-block-chars__title {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: unset;
  }
  .sp-block-chars__title:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.sp-block-chars__heading {
  max-width: 75rem;
  margin: 0 auto;
}
.sp-block-chars__heading:not(:last-child) {
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  .sp-block-chars__heading:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.sp-block-chars__heading--slim {
  max-width: 35rem;
}
.sp-block-chars__heading--slim ul,
.sp-block-chars__heading--slim ol {
  margin: 0;
  padding-left: 2.5rem;
  text-align: left;
}
@media (max-width: 1024px) {
  .sp-block-chars__heading--slim ul,
  .sp-block-chars__heading--slim ol {
    max-width: 21.5rem;
    margin: 0 auto;
    padding-left: 1.6rem;
  }
}
.sp-block-chars__header {
  margin-bottom: 3rem;
  padding: 0 3rem;
  text-align: center;
}
@media (max-width: 1024px) {
  .sp-block-chars__header {
    padding: 0;
    margin-bottom: 1rem;
  }
}
.sp-block-chars__capture {
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.sp-block-chars__capture--mod {
  font-size: 1.6rem;
}
@media (max-width: 1024px) {
  .sp-block-chars__capture--mod {
    font-size: 1rem;
  }
}
.sp-block-chars__desc {
  max-width: 75rem;
  margin: 0 auto;
  color: rgba(20, 20, 20, 0.7);
  text-align: center;
}
.sp-block-chars__img {
  width: auto;
  max-height: 47.2rem;
  position: relative;
}
@media (max-width: 1024px) {
  .sp-block-chars__img {
    max-height: unset;
    height: 20.7rem;
    width: 100%;
  }
}
.sp-block-chars__img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 100%;
}
@media (max-width: 1024px) {
  .sp-block-chars__img img {
    height: 100%;
    width: 100%;
  }
}

.sp-circ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
}
.sp-circ:nth-of-type(1) {
  left: 30rem;
  top: 14rem;
}
@media (max-width: 1024px) {
  .sp-circ:nth-of-type(1) {
    left: 10rem;
    top: 6.5rem;
  }
}
.sp-circ:nth-of-type(2) {
  right: 32.5rem;
  bottom: 15rem;
}
@media (max-width: 1024px) {
  .sp-circ:nth-of-type(2) {
    right: 11rem;
    bottom: 7rem;
  }
}
.sp-circ:nth-of-type(3) {
  right: 22.5rem;
  top: 1rem;
}
@media (max-width: 1024px) {
  .sp-circ:nth-of-type(3) {
    right: 8rem;
    top: 2.4rem;
  }
}
.sp-circ .trigger {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 100%;
  background-color: #307fe2;
  border: 0.9rem solid #fff;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media (max-width: 1024px) {
  .sp-circ .trigger {
    width: 1.7rem;
    height: 1.7rem;
    border-width: 0.35rem;
  }
}
.sp-circ__info {
  overflow: hidden;
  position: absolute;
  z-index: 5;
  padding: 4.2rem 1.2rem 3rem;
  text-align: center;
  width: 17.4rem;
  height: 17.4rem;
  background-color: #c1d9f6;
  border-radius: 100%;
  border: 0.2rem solid #fff;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media (max-width: 1024px) {
  .sp-circ__info {
    width: 7.5rem;
    height: 7.5rem;
    padding: 2rem 0.5rem;
  }
}
.sp-circ__name {
  display: block;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .sp-circ__name {
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
  }
}
.sp-circ__chars {
  display: inline-block;
}
@media (max-width: 1024px) {
  .sp-circ__chars {
    font-size: 0.6rem;
  }
}
.sp-circ.active .sp-circ__info {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.sp-circ.active .trigger {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.sp-use__capture {
  margin-bottom: 3rem;
  text-align: left;
}
.sp-use__item:not(:last-child) {
  margin-bottom: 3rem;
}
.sp-use__name {
  font-weight: 500;
  text-align: left;
  margin-bottom: 1.6rem;
}
.sp-use__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #307fe2;
}
.sp-use__link img {
  width: 1.7rem;
  height: 1.7rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .spb-tblock {
    text-align: center;
  }
}
.spb-tblock__text {
  line-height: 1.375;
}
@media (max-width: 1024px) {
  .spb-tblock__text {
    font-size: 1rem;
  }
}
.spb-tblock__text p {
  color: rgba(20, 20, 20, 0.7);
}
.spb-tblock__text p b {
  color: #141414;
  font-weight: 600;
}
.spb-tblock__text--plosk {
  max-width: 60rem;
}
@media (max-width: 1024px) {
  .spb-tblock__text--plosk {
    max-width: 100%;
    text-align: center;
  }
}
.spb-tblock__capture {
  text-align: left;
  margin-bottom: 2rem;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .spb-tblock__capture {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.spb-in:not(:last-child) {
  margin-bottom: 3rem;
}
.spb-in__title {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #141414;
}
.spb-in__down {
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  height: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.spb-in__down img {
  width: 100%;
  height: auto;
}
.spb-in p {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  color: rgba(20, 20, 20, 0.7);
  line-height: 130%;
}

.sp-block-kind {
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#dcecff),
    to(#fff)
  );
  background: linear-gradient(180deg, #dcecff 0%, #fff 100%);
}
@media (max-width: 1024px) {
  .sp-block-kind {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f3f3f4),
      to(#f4f4f4)
    );
    background: linear-gradient(180deg, #f3f3f4 0%, #f4f4f4 100%);
  }
}
.sp-block-kind .container {
  min-height: 100%;
}
.sp-block-kind__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 1024px) {
  .sp-block-kind__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.sp-block-kind__btn {
  padding: 1.8rem 3rem;
  margin: 0 auto;
}
.sp-block-kind__arr {
  position: fixed;
  left: 60rem;
  top: 0;
  bottom: 0;
}
@media (max-width: 1024px) {
  .sp-block-kind__arr {
    display: none;
  }
}
.sp-block-kind__arr img {
  display: block;
  height: 100%;
  width: auto;
}
.sp-block-kind__left {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 19.3rem;
  padding-bottom: 19.3rem;
  padding-left: 9.5rem;
  -ms-flex-preferred-size: 93rem;
  flex-basis: 93rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-right: 1px solid rgba(20, 20, 20, 0.1);
  gap: 6rem;
}
@media (max-width: 1024px) {
  .sp-block-kind__left {
    padding: 0;
    border: none;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    gap: 3rem;
  }
}
.sp-block-kind__right {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 19.3rem;
  padding-bottom: 19.3rem;
  padding-left: 9.5rem;
  padding-right: 9.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .sp-block-kind__right {
    padding: 0;
    display: none;
  }
}
.sp-block-kind__capture {
  font-weight: 400;
  margin-bottom: 3rem;
}
.sp-block-kind__content {
  color: rgba(20, 20, 20, 0.7);
  max-width: 51rem;
}
@media (max-width: 1024px) {
  .sp-block-kind__content {
    max-width: 100%;
    text-align: center;
    font-size: 1rem;
  }
}
.sp-block-kind__content--short {
  max-width: 36.2rem;
}
@media (max-width: 1024px) {
  .sp-block-kind__content--short {
    margin: 0 auto;
    max-width: 26rem;
  }
}
.sp-block-kind__content ul,
.sp-block-kind__content ol {
  margin: 0;
  padding: 0;
  padding-left: 2.4rem;
  text-align: left;
}
@media (max-width: 1024px) {
  .sp-block-kind__content ul,
  .sp-block-kind__content ol {
    max-width: 19rem;
    margin: 0 auto;
  }
}
.sp-block-kind__content ol li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.sp-block-kind__content p {
  margin: 0;
}
.sp-block-kind__title {
  margin-bottom: 3rem;
  max-width: 48rem;
}
@media (max-width: 1024px) {
  .sp-block-kind__title {
    text-align: center;
    max-width: 100%;
    margin-bottom: 1rem;
  }
}

.sp-block-steps {
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fefeff),
    to(#fff)
  );
  background: linear-gradient(180deg, #fefeff 0%, #fff 100%);
}
@media (max-width: 1024px) {
  .sp-block-steps {
    padding: 3rem 0;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f3f3f4),
      to(#f4f4f4)
    );
    background: linear-gradient(180deg, #f3f3f4 0%, #f4f4f4 100%);
  }
}
.sp-block-steps--plosk {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fefeff),
    to(#fff)
  );
  background: linear-gradient(180deg, #fefeff 0%, #fff 100%);
}
@media (max-width: 1024px) {
  .sp-block-steps--plosk {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#e4eefb),
      to(#f4f4f4)
    );
    background: linear-gradient(180deg, #e4eefb 0%, #f4f4f4 100%);
  }
}
.sp-block-steps--ready {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fefeff),
    to(#fff)
  );
  background: linear-gradient(180deg, #fefeff 0%, #fff 100%);
}
@media (max-width: 1024px) {
  .sp-block-steps--ready {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ddecff),
      to(#f2f7ff)
    );
    background: linear-gradient(180deg, #ddecff 0%, #f2f7ff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-steps--aero {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ddecff),
      to(#f4f4f4)
    );
    background: linear-gradient(180deg, #ddecff 0%, #f4f4f4 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-steps--kan {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ddecff),
      to(#f4f9ff)
    );
    background: linear-gradient(180deg, #ddecff 0%, #f4f9ff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-steps--mod {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ddecff),
      to(#ddecff)
    );
    background: linear-gradient(180deg, #ddecff 0%, #ddecff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-steps--box {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#e9f3ff),
      to(#f4f4f4)
    );
    background: linear-gradient(180deg, #e9f3ff 0%, #f4f4f4 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-steps--filt {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#e2effc),
      to(#f4f4f4)
    );
    background: linear-gradient(180deg, #e2effc 0%, #f4f4f4 100%);
  }
}
.sp-block-steps .container {
  height: 100%;
}
.sp-block-steps__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .sp-block-steps__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.sp-block-steps__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  -ms-flex-preferred-size: 93rem;
  flex-basis: 93rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 12rem 10rem;
  padding-bottom: 8rem;
  border-right: 1px solid rgba(20, 20, 20, 0.1);
}
@media (max-width: 1024px) {
  .sp-block-steps__left {
    padding: 0;
    border: none;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
.sp-block-steps__right {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 12rem;
  padding-left: 6.4rem;
  padding-right: 2rem;
  padding-bottom: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .sp-block-steps__right {
    display: none;
  }
}
.sp-block-steps__bottom {
  text-align: center;
}
.sp-block-steps__title {
  text-align: center;
  margin-bottom: 6.7rem;
  position: relative;
  z-index: 4;
}
@media (max-width: 1024px) {
  .sp-block-steps__title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
}
.sp-block-steps__capture {
  margin-bottom: 3rem;
}
.sp-block-steps__content {
  color: rgba(20, 20, 20, 0.7);
}
.sp-block-steps__content ol,
.sp-block-steps__content ul {
  padding: 0;
  margin: 0;
  padding-left: 3.7rem;
  max-width: 35.2rem;
}
@media (max-width: 1024px) {
  .sp-block-steps__content ol,
  .sp-block-steps__content ul {
    padding-left: 2rem;
    max-width: unset;
  }
}
.sp-block-steps__content ul li:not(:last-child),
.sp-block-steps__content ol li:not(:last-child) {
  margin-bottom: 2rem;
}

.spb-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  height: 100%;
}
.spb-circle__slider {
  overflow: visible;
  min-width: 0;
  max-width: 100%;
}
.spb-circle__slider .swiper-wrapper {
  height: 100%;
}
.spb-circle__slider .swiper-wrapper .swiper-slide {
  height: unset;
}
.spb-circle__circle {
  content: "";
  position: absolute;
  left: 0;
  top: -1.5rem;
  width: 85%;
  aspect-ratio: 1/1;
  border: 1px solid rgba(48, 127, 226, 0.76);
  border-radius: 100%;
}
@media (max-width: 1024px) {
  .spb-circle__circle {
    display: none;
    overflow-x: auto;
  }
}
.spb-circle__circle::after,
.spb-circle__circle::before {
  content: "";
  position: absolute;
  z-index: 3;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  background-color: #307fe2;
}
@media (max-width: 1024px) {
  .spb-circle__circle::after,
  .spb-circle__circle::before {
    display: none;
  }
}
.spb-circle__circle::before {
  top: 2.5rem;
  right: 13rem;
}
.spb-circle__circle::after {
  left: 19rem;
  bottom: 0rem;
}
.spb-circle__circle span {
  position: absolute;
  font-weight: 700;
  font-size: 6.4rem;
  color: #dcecff;
}
.spb-circle__circle span:first-child {
  top: -3rem;
  right: 4rem;
}
.spb-circle__circle span:last-child {
  bottom: -8.5rem;
  left: 19rem;
}
.spb-circle__title {
  text-align: left;
  font-weight: 500;
  margin-bottom: 2rem;
  position: relative;
  z-index: 4;
}
@media (max-width: 1024px) {
  .spb-circle__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    max-width: 25.5rem;
  }
}
.spb-circle__block {
  max-width: 35.8rem;
  position: relative;
}
@media (max-width: 1024px) {
  .spb-circle__block {
    padding: 1.4rem;
    max-width: 100%;
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: #fff;
  }
}
.spb-circle__block::after {
  content: "";
  position: absolute;
  width: 70rem;
  height: 70rem;
  z-index: 1;
  top: -20rem;
  right: -19rem;
  border-radius: 100%;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(254, 254, 255) 0%,
      rgba(254, 254, 255, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgb(254, 254, 255) 0%,
      rgba(254, 254, 255, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgb(254, 254, 255) 0%,
      rgba(254, 254, 255, 0) 100%
    );
}
@media (max-width: 1024px) {
  .spb-circle__block::after {
    display: none;
  }
}
.spb-circle__block:last-child {
  -ms-flex-item-align: end;
  align-self: flex-end;
  max-width: 31rem;
}
@media (max-width: 1024px) {
  .spb-circle__block:last-child {
    -ms-flex-item-align: unset;
    -ms-grid-row-align: unset;
    align-self: unset;
    max-width: unset;
  }
}
.spb-circle__info {
  position: relative;
  z-index: 4;
  color: rgba(20, 20, 20, 0.7);
}
.spb-circle ul,
.spb-circle ol {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  color: inherit;
}

.sp-block-slider {
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fefeff),
    to(#fff)
  );
  background: linear-gradient(180deg, #fefeff 0%, #fff 100%);
  overflow: hidden;
  padding-top: 12rem;
  padding-bottom: 17.3rem;
}
@media (max-width: 1024px) {
  .sp-block-slider {
    padding: 3rem 0;
  }
}
.sp-block-slider--plosk {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fefeff),
    to(#dcecff)
  );
  background: linear-gradient(180deg, #fefeff 0%, #dcecff 100%);
}
@media (max-width: 1024px) {
  .sp-block-slider--plosk {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f4f4f4),
      to(#fff)
    );
    background: linear-gradient(180deg, #f4f4f4 0%, #fff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-slider--mod {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(221, 236, 255, 0.7137254902)),
      to(#fff)
    );
    background: linear-gradient(
      180deg,
      rgba(221, 236, 255, 0.7137254902) 0%,
      #fff 100%
    );
  }
}
@media (max-width: 1024px) {
  .sp-block-slider--box {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f4f4f4),
      to(#fff)
    );
    background: linear-gradient(180deg, #f4f4f4 0%, #fff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-slider--ready {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f2f7ff),
      to(#fff)
    );
    background: linear-gradient(180deg, #f2f7ff 0%, #fff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-slider--mesk {
    background: #f5f5f5;
  }
}
@media (max-width: 1024px) {
  .sp-block-slider--aero {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f4f4f4),
      to(#fff)
    );
    background: linear-gradient(180deg, #f4f4f4 0%, #fff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-slider--kan {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f4f9ff),
      to(#fff)
    );
    background: linear-gradient(180deg, #f4f9ff 0%, #fff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-slider--stat {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f4f4f4),
      to(#fff)
    );
    background: linear-gradient(180deg, #f4f4f4 0%, #fff 100%);
  }
}
.sp-block-slider--filt {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f4f4f4),
    to(#fff)
  );
  background: linear-gradient(180deg, #f4f4f4 0%, #fff 100%);
}
.sp-block-slider__container {
  overflow: hidden;
}
.sp-block-slider__title {
  text-align: center;
  margin-bottom: 6rem;
}
@media (max-width: 1024px) {
  .sp-block-slider__title {
    margin-bottom: 3rem;
  }
}
.sp-block-slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sp-block-slider__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36.5rem;
  flex: 0 0 36.5rem;
}
@media (max-width: 1024px) {
  .sp-block-slider__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22.4rem;
    flex: 0 0 22.4rem;
  }
}

.sps-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4.7rem 3rem;
  border: 1px solid #307fe2;
  border-top: none;
  border-bottom: none;
  height: auto;
}
.sps-item:not(:last-child) {
  border-right: none;
}
@media (max-width: 1024px) {
  .sps-item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 2rem;
    padding-bottom: 3rem;
  }
}
.sps-item__fig {
  font-weight: 700;
  font-size: 30rem;
  color: #dcecff;
  line-height: 1;
  overflow: hidden;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media (max-width: 1024px) {
  .sps-item__fig {
    font-size: 15rem;
  }
}
.sps-item__icon {
  height: 11.6rem;
  margin-bottom: 3.7rem;
  opacity: 0.2;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  will-change: height;
}
@media (max-width: 1024px) {
  .sps-item__icon {
    height: 10rem;
  }
}
.sps-item__icon img {
  height: 100%;
  width: auto;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.sps-item__info {
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  color: rgba(20, 20, 20, 0.7);
}
@media (max-width: 1024px) {
  .sps-item__info {
    font-size: 1rem;
  }
}
.sps-item__info span {
  display: block;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: #141414;
}
@media (max-width: 1024px) {
  .sps-item__info span {
    font-size: 1.2rem;
  }
}
.sps-item.swiper-slide-active .sps-item__icon {
  opacity: 1;
}
@media (any-hover: hover) {
  .sps-item:hover .sps-item__fig {
    line-height: 0;
  }
  .sps-item:hover .sps-item__icon {
    height: 30rem;
    opacity: 1;
  }
}

.sp-block-rel {
  padding: 12rem 0 5.5rem;
  height: 100%;
  background: #fefeff;
}
@media (max-width: 1024px) {
  .sp-block-rel {
    padding: 3rem 0;
    padding-bottom: 8.5rem;
  }
}
.sp-block-rel--plosk {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#dfedff),
    to(#fff)
  );
  background: linear-gradient(180deg, #dfedff 0%, #fff 100%);
}
@media (max-width: 1024px) {
  .sp-block-rel--plosk {
    background: #fff;
  }
}
@media (max-width: 1024px) {
  .sp-block-rel--mod {
    background: -webkit-gradient(linear, left top, left bottom, to(#fff));
    background: linear-gradient(180deg, #fff 100%);
  }
}
@media (max-width: 1024px) {
  .sp-block-rel--box {
    background: #fff;
  }
}
.sp-block-rel--mesk {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#dfedff),
    to(#fff)
  );
  background: linear-gradient(180deg, #dfedff 0%, #fff 100%);
}
@media (max-width: 1024px) {
  .sp-block-rel--mesk {
    background: #f5f5f5;
  }
}
@media (max-width: 1024px) {
  .sp-block-rel--kan {
    background: #fff;
  }
}
.sp-block-rel .container,
.sp-block-rel__container {
  height: 100%;
}
.sp-block-rel__title {
  margin-bottom: 5rem;
}
@media (max-width: 1024px) {
  .sp-block-rel__title {
    margin-bottom: 3.5rem;
  }
}
.sp-block-rel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sp-block-rel__map {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 17rem 0 10.2rem;
  -webkit-mask-image: url("./../img/map.webp");
  mask-image: url("./../img/map.webp");
  -webkit-mask-size: 100% auto;
  mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-image: url("./../img/back-texture.webp");
  background-size: 130% 160%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-animation: move-bg 25s linear infinite;
  animation: move-bg 25s linear infinite;
}
@media (max-width: 1024px) {
  .sp-block-rel__map {
    margin: 0;
    height: 21rem;
    -webkit-animation-duration: 50s;
    animation-duration: 50s;
    background-size: 200%;
  }
}

@-webkit-keyframes move-bg {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes move-bg {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.sp-block-type__capture {
  text-align: left;
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  .sp-block-type__capture {
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
  }
}
.sp-block-type__capture.centered {
  text-align: center;
}
.sp-block-type__list {
  margin: 0 auto;
  padding: 0;
  max-width: 40rem;
}
@media (max-width: 1024px) {
  .sp-block-type__list {
    max-width: 22rem;
    padding-left: 2rem;
  }
}
.sp-block-type__list:not(:last-child) {
  margin-bottom: 6rem;
}
@media (max-width: 1024px) {
  .sp-block-type__list:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.sp-block-type__img {
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid #000;
}
@media (max-width: 1024px) {
  .sp-block-type__img {
    border-radius: 1rem;
  }
}
.sp-block-type__img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}
.prod-items__arr {
  position: relative;
  z-index: 10;
  height: 100%;
}
.prod-items__arr .arr-container {
  width: 100%;
  height: 100%;
  overflow: visible;
  -webkit-filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.1));
}
.prod-items__arr .arr-container .mask-arr {
  position: relative;
  z-index: 10;
}
.prod-items__arr .arr-container image {
  width: 100%;
  height: 100%;
  -o-object-position: bottom;
  object-position: bottom;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.prod-items__arr .anim-img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  height: 100%;
  overflow: visible;
  width: 100%;
}
.prod-items__arr .anim-img image {
  width: 100%;
  height: 100%;
  -o-object-position: bottom;
  object-position: bottom;
}
@media (max-width: 1024px) {
  .spb-tblock__text__extra {
    display: none;
  }
}
